html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0}
fieldset,img{border:none;vertical-align:middle;}
address,caption,cite,code,dfn,th,var,s,i{font-style:normal;font-weight:normal;text-decoration:none;font-family:inherit;}
ul,ol{list-style:none}
input{padding-top:0;padding-bottom:0}
input:focus{outline:none;}
input::-moz-focus-inner{border:none;padding:0}
select,input{vertical-align:middle;font-family:inherit;}
select,input,textarea{font-size:inherit;margin:0}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none}
input[type="reset"],input[type="submit"]{cursor:pointer;}
textarea{resize:none}
table{border-collapse:collapse;width:100%;}
body{font:13px/20px "Arial","Microsoft YaHei","微软雅黑","SimSun","宋体"}
a{text-decoration:none;}
a:focus{outline:none}

body{padding-top:0;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
.clearfix{zoom:1;}
.clearfix:after{display:block;content:"";clear:both;height:0;overflow:hidden;visibility:hidden;}
.floatL{
  float:left;
}
.floatR{
  float:right;
}
